body{
    margin: 0;
    }
    .header{
    height: 80px;
    background-color: white;
    }
    .logo{
    position: absolute;
    width: 47px;
    left: 40px;
    top: 7px;
    }
     .menu{
    width: 1221px;
    height: 80px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    justify-content:space-evenly;
    margin: auto;

    }
    .menu-elements{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;  
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    }

    .container{
    display: flex;
    width: 1440px;
    height: 550px;
    padding-left: 40px;
    padding-right: 50px;
    }

    .block
    {   
    border-radius: 32px 0px 0px 32px;
    background-color: #DCE5E2;
    padding-left: 82.4px;
    width: 797px;
    height: 350px;
    }

.text{


    width: 642px;
    height: 53px;
    padding-top: 120px;
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    margin: auto;
    color: #000000;
    }
